version: "3.9"

services:
  web:
    build: .
    command: python /Dj-for-pro/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/Dj-for-pro
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - "DJANGO_SECRET_KEY=django-insecure-_ksy!ms%r_=pzbgy(410r(eh+2d@a8%xwj!5$xc@6q@rsv^wl9"
      - "DJANGO_DEBUG=True"
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
